header {
     background-color: #eded08ef;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.caixa p {
    font-size: 30px;
	color: #00008B;
    position: absolute;
    top: 160px;
    left: 200px;
    font-weight: bold;
    font-family: 'Prata', serif;
}

.caixa img {
    width: 220px;
    height: 220px;
}

nav {
	position: absolute;
	top: 100px;
	right: 0;
}

nav li {
    list-style-type: none;
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #00008B;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
    color: #8B4513;
    text-decoration: underline;
}

.textohome {
    font-size: 20px; 
}

.estabelecimento {
	width: 940px;
	margin: 2em auto;
    text-align: center;
}

.estabelecimento h2 {
    color: #00008B;
	font-size: 40px;
    margin: 2em auto 1em auto;
}

.mapa {
    padding-top: 40px;
}

.beneficios {
	width: 940px;
	margin: 2em auto;
    text-align: center;
}

.beneficios p {
    color: #00008B;
	font-size: 40px;
    margin: 2em auto;
}

.beneficios-lista {
    text-align: justify;
    width: 46%;
    display: inline-block;
    vertical-align: top;
    line-height: 1.5;
}

.beneficios li:before{
    content: "✰ ";
    color: #00008B;
}

.video {
    width: 50%;
    display: inline-block;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos img {
    height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.produtos li:hover {
    border-color: #00008B;
}

.produtos li:hover h2 {
    font-size: 35px;
    color: #00008B;
}

.produtos li:hover p {
    font-size: 20px;
    color: #00008B;
}

.produtos li:active {
    border-color: #8B4513;
}

.produtos li:active h2 {
    font-size: 35px;
    color: #8B4513;
}

.produtos li:active p {
    font-size: 20px;
    color: #8B4513;
}

footer {
    text-align: center;
    background-color: #00008B;
    color: aliceblue;
    padding: 40px 0;
}

footer p {
    font-size: 13px;
    padding-top: 10px;
}

footer img {
    height: 200px;
}

.descricao {
    text-align: center;
    margin: auto;
    padding-top: 50px;
    width: 60%;
}

.descricao h1 {
    color: #00008B;
	font-size: 40px;
    margin: 0.5em auto;
}

.descricao p {
    font-size: 20px;
}

.titulo {
    font-weight: bold;
    font-size: 20px;
    color: #00008B;
    padding-bottom: 6px;
    padding-top: 6px;
}

.apresentacao {
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    width: 940px;
}

.apresentacao h1 {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 6px;
    padding-top: 6px;
    color: #00008B;
}

.apresentacao p {
    font-size: 18px;
    margin-right: 95px;
}

.contatos {
	width: 940px;
	margin: 0 130px;
	padding: 50px 0;
}

.contatos li {
    display: inline-block;
    text-align: justify;
    width: 40%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.titulo-principal {
    font-weight: bold;
    font-size: 30px;
    color: #00008B;
    padding-bottom: 5px;
}

.titulo-conteudo{
    padding-bottom: 5px;
}

.formulario {
    
    margin-top: 5px;
}

form label, form legend {
	display:block;
	font-size: 18px;
	margin: 0 0 10px;
    text-align: justify;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 20px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width:30%;
	padding: 10px 0;
	background: #00008B;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: #020253;
}

.div-formulario{
    margin: auto;
    width: 940px;
}

fieldset select {
    font-size: 15px;
    padding: 2px 0 ;
}

.caixa-apresentacao{
    width: 940px;
    margin: 0 auto;
}